{% if system_name == 'librarymanagement' %}
    <a href="{% url 'librarymanagement:library-dashboard' %}">Library Management Dashboard</a>
{% endif %}

{% comment %} logout button {% endcomment %}
<form method="post" action="{% url 'core:core_system_logout' system_name %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>


{% comment %} 
if multiple systems are accessible, provide a link to system selection 
{% endcomment %}
{% if systems|length > 1 %}
    <label for="system-select">Switch System:</label>
    <select id="system-select" onchange="if (this.value) window.location.href=this.value;">
        <option value="">-- Select a system --</option>
        {% for sys in systems %}
        {% if sys.url == 'core' %}
            <option value="/dashboard/">{{ sys.name }}</option>
        {% else %}
            <option value="/{{ sys.url }}/">{{ sys.name }}</option>
        {% endif %}
        {% endfor %}
    </select>
{% endif %}

{% if messages %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  {% for message in messages %}
    Swal.fire({
      toast: true,
      icon: "{{ message.tags|default:'info' }}",
      title: "{{ message|escapejs }}",
      timer: 4000,
      timerProgressBar: true,
      showConfirmButton: false,
      position: "top-end"
    });
  {% endfor %}
</script>
{% endif %}