asgiref==3.11.0
cffi==2.0.0
cryptography==46.0.3
Django==6.0.1
django-ranged-response==0.2.0
django-ratelimit==4.1.0
django-simple-captcha==0.6.3
pillow==12.1.0
pycparser==2.23
pytz==2025.2
joblib==1.5.3
numpy==2.4.3
pandas==3.0.1
scikit-learn==1.8.0
sqlparse==0.5.5
