<div class="card">
  <div class="btn-group">
    <button type="button"
            class="button button-default button-lg"
            onclick="saveSettings()">
      {% include "librarymanagement/components/icons/check.svg" %}
      Save All Settings
    </button>
    <button type="button"
            class="button button-outline button-lg"
            onclick="resetSettings()">
      {% include "librarymanagement/components/icons/refresh.svg" %}
      Reset to Defaults
    </button>
  </div>
</div>
