{% extends "base.html" %}
{% load static %}
{% block title %}
  Books List - Library Management
{% endblock title %}
{% block meta_description %}
  Browse and manage books in the Library Management system.
{% endblock meta_description %}
{% block meta_keywords %}
  library, books, management, authors, publishers, categories
{% endblock meta_keywords %}
{% block extra_head %}
  <link rel="stylesheet"
        href="{% static 'librarymanagement/css/pages/books.css' %}" />
{% endblock extra_head %}
{% block content %}
  {% include "librarymanagement/components/pages/books/main.html" %}
  {# Reusable Dialog Components #}
  {# Add Library Dialog #}
  {% include "components/dialog.html" with dialog_id="addLibraryDialog" dialog_title="Add New Library" dialog_content="librarymanagement/modals/add-library-dialog.html" %}
  {# Borrow Book Dialog #}
  {% include "components/dialog.html" with dialog_id="borrowBookDialog" dialog_title="Borrow Book" dialog_content="librarymanagement/modals/borrow-book-dialog.html" %}
  {# Add Book Dialog #}
  {% include "components/dialog.html" with dialog_id="addBookDialog" dialog_title="Add New Book" dialog_content="librarymanagement/modals/add-book-dialog.html" dialog_size="lg" %}
  {# Book Details Dialog #}
  {% include "components/dialog.html" with dialog_id="bookDetailsDialog" dialog_title="Book Details" dialog_content="librarymanagement/modals/book-details-dialog.html" dialog_size="lg" %}
  {# Export Books Dialog #}
  {% include "components/dialog.html" with dialog_id="exportBooksDialog" dialog_title="Export Books" dialog_content="librarymanagement/modals/export-books-dialog.html" dialog_size="sm" %}
{% endblock content %}
{% block extra_scripts %}
  <script src="{% static 'librarymanagement/js/book_operations.js' %}"></script>
  <script src="{% static 'librarymanagement/js/switch_view.js' %}"></script>
  <script>
    // Re-open add book dialog if there are errors
    if (window.DJANGO_MESSAGES && window.DJANGO_MESSAGES.length > 0) {
      const hasErrors = window.DJANGO_MESSAGES.some(msg => msg.level === 'error');
      if (hasErrors && document.referrer.includes('add_book')) {
        setTimeout(() => openDialog('addBookDialog'), 500);
      }
    }
    const exportBooksButton = document.getElementById('exportBooksSubmit');
    if (exportBooksButton) {
      exportBooksButton.addEventListener('click', () => {
        const format = document.getElementById('exportBooksFormat').value;
        const url = "{% url 'librarymanagement:export_books' %}" + "?format=" + format;
        window.location.href = url;
        closeDialog('exportBooksDialog');
      });
    }
  </script>
{% endblock extra_scripts %}
