{% extends "base.html" %}
{% load static %}
{% block title %}
  Book Reservations - Library Management
{% endblock title %}
{% block meta_description %}
  View, manage, and fulfill book reservation requests in the Library Management system.
{% endblock meta_description %}
{% block meta_keywords %}
  library, book reservations, manage reservations, library management, books, users
{% endblock meta_keywords %}
{% block extra_head %}
  <link rel="stylesheet"
        href="{% static 'librarymanagement/css/pages/reservations_list.css' %}" />
{% endblock extra_head %}
{% block content %}
  <main class="main-container">
    {% include "librarymanagement/components/pages/reservations/header.html" %}
    <div class="reservation-container">
      {% include "librarymanagement/components/pages/reservations/stats.html" %}
      <div class="reservation-body">
        {% include "librarymanagement/components/pages/reservations/grid.html" %}
        {% include "librarymanagement/components/pages/reservations/timeline.html" %}
      </div>
    </div>
  </main>
{% endblock content %}
{% block extra_scripts %}
  <script src="{% static 'librarymanagement/js/utils.js' %}"></script>
  <script src="{% static 'librarymanagement/js/reservation_operations.js' %}"></script>
  <!-- Hidden CSRF token for JavaScript -->
  <form class="hidden-form">
    {% csrf_token %}
  </form>
{% endblock extra_scripts %}
