{% extends "base.html" %}
{% load static %}
{% block title %}
  Trending Books - Library Management
{% endblock title %}
{% block meta_description %}
  Discover the most popular and trending books in the library. Stay updated with the latest reading trends and insights.
{% endblock meta_description %}
{% block meta_keywords %}
  library, trending books, popular books, book trends, reading, borrows, library management
{% endblock meta_keywords %}
{% block extra_head %}
  <link rel="stylesheet"
        href="{% static 'librarymanagement/css/pages/trending_books.css' %}" />
{% endblock extra_head %}
{% block content %}
  <div class="main-container">
    {% include "librarymanagement/components/pages/trending/header.html" %}
    {% include "librarymanagement/components/pages/trending/grid.html" %}
  </div>
{% endblock content %}
{% block extra_scripts %}
  <script src="{% static 'librarymanagement/js/utils.js' %}"></script>
  <script src="{% static 'librarymanagement/js/filters.js' %}"></script>
  <script src="{% static 'librarymanagement/js/book_operations.js' %}"></script>
{% endblock extra_scripts %}
